body {
  overflow: hidden; /* Prevents unnecessary scrolling */
}

* {
  box-sizing: border-box;
}

.about-us-FINAL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 90px;
}

.about-us-FINAL .frame {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  max-height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
}

.about-us-FINAL .frame::-webkit-scrollbar {
  display: none;
  width: 10px;
}

.about-us-FINAL .wheels-on-go {
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  position: relative;
  text-align: center;
}

.about-us-FINAL .text-wrapper {
  color: #ff0009;
  letter-spacing: 0.51px;
}

.about-us-FINAL .span {
  color: #000000;
  letter-spacing: 0.51px;
}

.about-us-FINAL .at-wheels-on-go-we {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 35px;
  position: relative;
  text-align: right;
  width: 450px;
}

.about-us-FINAL .img {
  height: 30px;
  position: relative;
  width: 280px;
}

.part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;
  padding: 15px;
}

.part3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.part4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.part5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 30px;
  padding: 15px;
}

.part6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.part7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.part8 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.about-us-FINAL .image {
  height: 400px;
  object-fit: cover;
  position: relative;
}

.about-us-FINAL .div {
  color: #ff0009;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

.about-us-FINAL .wheels-on-go-was {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  width: 400px;
  letter-spacing: 0;
  line-height: 35px;
}

.about-us-FINAL .nobvg {
  height: 400px;
  object-fit: cover;
  position: relative;
}

.about-us-FINAL .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  text-align: center;
}

.about-us-FINAL .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 575px;
}

.about-us-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ashercircle, .dancircle, .godwincircle, .kencircle, .zartcircle {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.about-us-FINAL .interested-contact {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 1024px) {

  .about-us-FINAL{
    padding-top: 75px;
  }

  .about-us-FINAL .image{
    height: 300px;
  }

  .about-us-FINAL .wheels-on-go{
    font-size: 35px;
  }

  .about-us-FINAL .at-wheels-on-go-we{
    font-size: 15px;
    width: 350px;
    line-height: 30px;
  }

  .part2{
    gap: 15px;
  }

  .about-us-FINAL .div{
    font-size: 35px;
  }

  .about-us-FINAL .wheels-on-go-was{
    font-size: 15px;
    width: 350px;
    line-height: 30px;
  }

  .about-us-FINAL .nobvg{
    height: 280px;
  }

  .part5{
    gap: 15px;
  }

  .about-us-FINAL .text-wrapper-9{
    font-size: 35px;
  }

  .ashercircle, .dancircle, .godwincircle, .kencircle, .zartcircle {
    height: 150px;
    width: 150px;
  }

  .about-us-grid{
    gap: 30px;
  }

  .about-us-FINAL .text-wrapper-2{
    font-size: 18px;
  }

  .about-us-FINAL .interested-contact{
    font-size: 18px;
  }
}

@media (max-width: 800px) {

  .about-us-FINAL{
    padding-top: 70px;
  }

  .about-us-FINAL .image{
    height: 220px;
  }

  .about-us-FINAL .wheels-on-go{
    font-size: 30px;
  }

  .about-us-FINAL .img{
    height: 25px;
    width: 220px;
  }

  .about-us-FINAL .at-wheels-on-go-we{
    font-size: 12px;
    width: 270px;
    line-height: 20px;
  }

  .about-us-FINAL .div{
    font-size: 30px;
  }

  .about-us-FINAL .wheels-on-go-was{
    font-size: 12px;
    width: 270px;
    line-height: 20px;
  }

  .about-us-FINAL .nobvg{
    height: 200px;
  }

  .part5{
    gap: 15px;
  }

  .about-us-FINAL .text-wrapper-9{
    font-size: 30px;
  }

  .ashercircle, .dancircle, .godwincircle, .kencircle, .zartcircle {
    height: 120px;
    width: 120px;
  }

  .about-us-grid{
    gap: 30px;
  }

  .about-us-FINAL .text-wrapper-2{
    font-size: 12px;
  }

  .about-us-FINAL .interested-contact{
    font-size: 15px;
  }
}

@media (max-width: 600px) {

  .about-us-FINAL{
    padding-top: 60px;
  }

  .about-us-FINAL .image{
    height: 160px;
  }

  .about-us-FINAL .wheels-on-go{
    font-size: 20px;
  }

  .about-us-FINAL .img{
    height: 15px;
    width: 130px;
  }

  .about-us-FINAL .at-wheels-on-go-we{
    font-size: 11px;
    width: 175px;
    line-height: 15px;
  }

  .part2{
    padding: 10px;
    gap: 10px;
  }

  .about-us-FINAL .div{
    font-size: 20px;
  }

  .about-us-FINAL .wheels-on-go-was{
    font-size: 11px;
    width: 180px;
    line-height: 15px;
  }

  .about-us-FINAL .nobvg{
    height: 135px;
  }

  .part5{
    padding: 10px;
    gap: 10px;
  }

  .about-us-FINAL .text-wrapper-9{
    font-size: 20px;
  }

  .ashercircle, .dancircle, .godwincircle, .kencircle, .zartcircle {
    height: 100px;
    width: 100px;
  }

  .about-us-grid{
    gap: 20px;
  }

  .about-us-FINAL .text-wrapper-2{
    font-size: 11px;
  }

  .about-us-FINAL .interested-contact{
    font-size: 12px;
  }

}