.admin-page-dashboard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  height: 100vh; /* Limit the height to the viewport height */
}

.admin-page-dashboard .div {
  background-color: #ffffff;
  height: 939px;
  position: relative;
  width: 1920px;
  height: 100%; /* Adjust to 100% of parent's height */
}

.admin-page-dashboard .overlap {
  background-image: url(../Images/homebackground.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 827px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 1920px;
}

.admin-page-dashboard .rectangle {
  background-color: #840000;
  height: 827px;
  left: 0;
  position: absolute;
  top: 0;
  width: 456px;
}

.admin-page-dashboard .group {
  height: 92px;
  left: 0;
  position: absolute;
  top: 230px;
  width: 456px;
  border: none;
  background: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.admin-page-dashboard .group:hover {
  background-color: #e32128; /* Change to desired hover background color */
  border-radius: 40px;
}

.admin-page-dashboard .overlap-group1 {
  border-radius: 40px;
  height: 92px;
  position: relative;
  width: 456px;
  background: none;
  border: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.admin-page-dashboard .overlap-group1:hover {
  background-color: #e32128; /* Change to desired hover background color */
  border-radius: 40px;
}

.admin-page-dashboard .text-wrapper {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 171px;
}

.admin-page-dashboard .overlap-wrapper {
  height: 92px;
  left: 0;
  position: absolute;
  top: 134px;
  width: 456px;
  border: none;
  background: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.admin-page-dashboard .overlap-wrapper:hover {
  background-color: #e32128; /* Change to desired hover background color */
  border-radius: 40px;
}

.admin-page-dashboard .overlap-group-wrapper {
  height: 92px;
  left: 0;
  position: absolute;
  top: 326px;
  width: 458px;
}

.admin-page-dashboard .div-wrapper {
  background-size: 100% 100%;
  height: 92px;
  position: relative;
  width: 456px;
  border: none;
  background: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.admin-page-dashboard .div-wrapper:hover {
  background-color: #e32128; /* Change to desired hover background color */
  border-radius: 40px;
}

.admin-page-dashboard .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 385px;
}

.admin-page-dashboard .vector {
  height: 112px;
  left: 0;
  position: absolute;
  top: 715px;
  width: 1920px;
}

.admin-page-dashboard .image {
  height: 650px;
  left: 895px;
  object-fit: cover;
  position: absolute;
  top: 177px;
  width: 1025px;
}

.admin-page-dashboard .rectangle-2 {
  background-color: #840000;
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 456px;
}

.admin-page-dashboard .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 231px;
}

.admin-page-dashboard .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 1327px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.admin-page-dashboard .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 1465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.admin-page-dashboard .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 1589px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.admin-page-dashboard .img {
  height: 50px;
  left: 1760px;
  position: absolute;
  top: 15px;
  width: 50px;
  border: none;
  background: none;
}

.admin-page-dashboard .sideview {
  height: 75px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 291px;
}

.admin-page-dashboard .group-2 {
  height: 92px;
  left: 0;
  position: absolute;
  top: 426px;
  width: 456px;
  border: none;
  background: none;
  transition: background-color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.admin-page-dashboard .group-2:hover {
  background-color: #e32128; /* Change to desired hover background color */
  border-radius: 40px;
}

.admin-page-dashboard .text-wrapper-34 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 171px;
}
