body {
  overflow: hidden; /* Prevents unnecessary scrolling */
}

* {
  box-sizing: border-box;
}

.checkout-popup { 
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;  
  justify-content: center;  
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1050;
  padding: 10px;
  overflow-y: auto; /* Allows the popup to scroll vertically */
}

.checkout-popup .cp-overlap { 
  background-color: #d7d1d1; 
  border-radius: 20px; 
  position: relative; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-height: calc(100vh - 80px); /* Use almost full viewport height */
  overflow-y: auto; /* Enable scrolling for the content inside the popup */
}

.checkout-popup .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures elements are spaced between */
  align-items: center;
  width: 100%; /* Stretch across the width of the parent */
  position: relative;
}

.spacer {
  flex: 1; /* Takes up the same space as the close button to balance the layout */
}

.checkout-popup .closes { 
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer; /* Changes cursor to pointer when hovering over the button */
  flex: 1; /* Ensure it takes space to balance the layout */
}

.checkout-popup .imgss { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: 40px;
  width: 40px;

}

.checkout-popup .text-wrapper { 
  color: #000000; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 30px; 
  font-weight: 600; 
  letter-spacing: 0.62px; 
  line-height: normal; 
  position: relative; 
  text-align: center; 
}

.finale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.overall1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 10px;
}

.groups2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 20px;
}

.checkout-popup .rectangle { 
  background-color: #ffffff; 
  border-radius: 40px; 
  height: 200px;  /* Adjusted height to fit the image */
  width: 200px;   /* Adjusted width to fit the image */
  position: relative; 
  display: flex;          /* Use flexbox to center the image */
  align-items: center;    /* Vertically center the image */
  justify-content: center; /* Horizontally center the image */
  overflow: hidden;       /* Hide overflow to maintain border radius */
}

.checkout-popup .car-image {
  position: relative;
  max-width: 100%;   /* Ensure the image does not exceed the container width */
  max-height: 100%;  /* Ensure the image does not exceed the container height */
  border-radius: 40px; /* Maintain the border radius */
  top: 0px;
}

.groups1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}

.checkout-popup .text-wrapper-234 { 
  color: #000000; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 25px; 
  font-weight: 600; 
  line-height: normal; 
  position: relative; 
  width: 100%; 
  text-align: center;
}

.checkout-popup .cp-overlap-group { 
  height: 43px; 
  position: relative; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkout-popup .text-wrapper-345 { 
  color: #e32128; 
  font-family: "Inter-Medium", Helvetica; 
  font-size: 20px; 
  font-weight: 500; 
  position: relative; 
  white-space: nowrap; 
  text-align: center;
}

.checkout-popup .text-wrapper-412 { 
  color: #e32128; 
  font-family: "Inter-Medium", Helvetica; 
  font-size: 20px; 
  font-weight: 500; 
  position: relative;  
  white-space: nowrap; 
}

.checkout-popup .vector2 { 
  height: 25px; 
  position: relative; 
}

.groups3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 10px;
}

.checkout-popup .text-wrapper-101 { 
  color: #000000; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 20px; 
  font-weight: 600; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
  white-space: nowrap; 
}

.checkout-popup .text-wrapper-11 { 
  color: #e32128; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 18px; 
  font-weight: 600; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
  white-space: normal; 
  height: auto;
  width: 500px;
  overflow-wrap: break-word;
  text-align: start;
}

.overall2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.groups4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}

.checkout-popup .text-wrapper-51 { 
  color: #000000; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 20px; 
  font-weight: 600; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
  text-align: center; 
  white-space: nowrap; 
}

.checkout-popup .div-wrapper12 { 
  background-color: #ffffff; 
  border-radius: 20px; 
  height: 50px; 
  position: relative; 
  width: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-popup .text-wrapper-7 { 
  color: #7c7c7c; 
  font-family: "Inter-Regular", Helvetica; 
  font-size: 18px; 
  font-weight: 400; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative;
}

.overlap-2 { 
  background-color: #ffffff; 
  border-radius: 20px; 
  height: 50px; 
  position: relative; 
  width: 200px; 
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-popup .text-wrapper-12 { 
  color: #7c7c7c; 
  font-family: "Inter-Regular", Helvetica; 
  font-size: 18px; 
  font-weight: 400; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
}

.groups5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}

.checkout-popup .error-messagea {
  color: red;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.wew11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}

.divide1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 20px;
}

.checkout-popup .text-wrapper-8 { 
  color: #000000; 
  font-family: "Inter-SemiBold", Helvetica; 
  font-size: 20px; 
  font-weight: 600; 
  letter-spacing: 0; 
  line-height: normal; 
  position: relative; 
  white-space: nowrap; 
}

.checkout-popup .delivery-options {
  position: relative;
  flex-direction: row;
  gap: 20px; /* Add space between options */
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-option {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.radio-option input[type="radio"] {
  margin-right: 10px; /* Add space between radio button and label */
  transform: scale(1.2); /* Increase the size of radio buttons */
}

.checkout-popup .address-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form elements */
  position: relative;
  width: 100%;
  margin-top: 0;
}

.address-dropdown, .address-input {
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.address-dropdown {
  width: 450px;
}

.address-input {
  width: 450px;
  box-sizing: border-box;
}

.checkout-popup .overlap-group-2121 { 
  background-color: #e80029; 
  border-radius: 35px; 
  height: 50px; 
  position: relative; 
  width: 300px;
  color: #ffffff; 
  font-family: "Inter-Bold", Helvetica; 
  font-size: 18px; 
  font-weight: 600; 
  letter-spacing: 0; 
  line-height: normal; 
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.normal-text {
  font-weight: normal;
} 

.react-datepicker {
  font-family: inherit;
  position: absolute; /* Absolute position to anchor it relative to the wrapper div */
  top: 100%; /* Position it directly below the parent div */
  z-index: 1000; /* Ensure it appears on top of other content */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  border-radius: 10px; /* Optional: Rounding corners for aesthetics */
}

.react-datepicker__navigation {
  background: none;
  border: none;
  cursor: pointer;
}

.react-datepicker__navigation-icon::before {
  border-color: #000;
}

.react-datepicker__header {
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.react-datepicker__navigation--previous {
  left: 10px;
  z-index: 1001;
}

.react-datepicker__navigation--next {
  right: 10px;
  z-index: 1001;
}

.div-wrapper12, .overlap-2 {
  position: relative;
  z-index: 1; /* Set lower z-index to ensure date picker is on top */
}

@media (max-width: 1024px) {

  .finale{
    flex-direction: column;
    gap: 30px;
  }

  .checkout-popup .cp-overlap{
    max-width: 700px;
  }

}

@media (max-width: 600px) {

  .checkout-popup .text-wrapper{
    font-size: 25px;
  }

  .checkout-popup .imgss{
    height: 30px;
    width: 30px;
  }

  .groups2{
    flex-direction: column;
    align-self: center;
  }

  .checkout-popup .text-wrapper-11{
    width: 330px;
  }

  .checkout-popup .div-wrapper12{
    width: 150px;
  }

  .overlap-2{
    width: 150px;
  }

  .checkout-popup .overlap-group-2121{
    height: 45px;
    width: 250px;
  }

  .address-dropdown{
    width: 320px;
  }

  .address-input{
    width: 320px;
  }

  .checkout-popup .error-messagea{
    font-size: 15px;
  }
}

@media (max-width: 600px) {

  .checkout-popup .text-wrapper-11{
    width: 250px;
  }

  .checkout-popup .text-wrapper-101{
    font-size: 18px;
  }

  .checkout-popup .text-wrapper-51{
    font-size: 18px;
  }

  .checkout-popup .text-wrapper-7{
    font-size: 15px;
  }

  .checkout-popup .text-wrapper-12{
    font-size: 15px;
  }

  .checkout-popup .div-wrapper12{
    height: 40px;
    width: 130px;
  }

  .overlap-2{
    height: 40px;
    width: 130px;
  }

  .address-dropdown{
    width: 280px;
  }

  .address-input{
    width: 280px;
  }

  .checkout-popup .text-wrapper-8{
    font-size: 18px;
  }

  .radio-option{
    font-size: 15px;
  }

  .checkout-popup .error-messagea{
    font-size: 13px;
  }

  .checkout-popup .overlap-group-2121{
    height: 35px;
    font-size: 15px;
  }
}