body {
  overflow: hidden; /* Prevents unnecessary scrolling */
}

* {
  box-sizing: border-box;
}

.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  align-items: center;
}

.login .div {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  position: relative;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.login .overlap11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d7d1d1;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
}

.login .text-wrapper {
  color: #3e3a3a;
  font-family: "Inter-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px
}

.login .overlap-group,
.login .div-wrapper {
  background-color: #ffffff;
  color: #848484;
  border-radius: 35px;
  font-family: "Inter-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  height: 80px;
  width: 100%;
  max-width: 700px;
  border: none;
  padding: 0 35px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.login .not-registered,
.login .forgot-passwords {
  font-family: "Inter-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.login .span {
  color: #848484;
}

.login .text-wrapper-323 {
  color: #e80029;
  text-decoration-line: none;
  cursor: pointer;
}

.login .overlap-group-2as {
  background-color: #e80029;
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  border-radius: 35px;
  height: 71px;
  width: 100%;
  max-width: 700px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.login .wheels-on-go {
  max-width: 550px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.login .error {
  border-radius: 5px;
  color: #721c24;
  text-align: center;
  width: 80%;
  box-sizing: border-box;
}

.login .error-message {
  color: red;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}

@media (max-width: 1024px) {

  .login .div {
    flex-direction: column;
    gap: 15px;
  }

  .login .wheels-on-go{
    height: 220px;
    max-width: 500px;
  }

  .login .text-wrapper{
    font-size: 40px;
    margin-bottom: 20px;
  }

  .login .overlap-group{
    font-size: 28px;
    height: 60px;
    margin-bottom: 30px;
    padding: 0 20px;
    max-width: 650px;
  }

  .login .div-wrapper{
    font-size: 28px;
    height: 60px;
    margin-bottom: 30px;
    padding: 0 20px;
    max-width: 650px;
  }

  .login .overlap11{
    border-radius: 20px;
    max-width: 710px;
    padding: 30px;
  }

  .login .not-registered{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .login .forgot-passwords{
    font-size: 20px;
  }

  .login .overlap-group-2as{
    font-size: 20px;
    height: 55px;
  }
}

@media (max-width: 800px) {

  .login .wheels-on-go{
    height: 170px;
    max-width: 400px;
  }

  .login .div{
    gap: 15px;
  }

  .login .text-wrapper{
    font-size: 35px;
    margin-bottom: 20px;
  }

  .login .overlap-group{
    font-size: 25px;
    height: 55px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .login .div-wrapper{
    font-size: 25px;
    height: 55px;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .login .overlap11{
    border-radius: 20px;
    max-width: 650px;
    padding: 30px;
  }

  .login .not-registered{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .login .forgot-passwords{
    font-size: 18px;
  }

  .login .overlap-group-2as{
    font-size: 20px;
    height: 55px;
  }
}

@media (max-width: 600px) {

  .login .wheels-on-go{
    height: 170px;
    max-width: 400px;
  }

  .login .div{
    gap: 15px;
  }

  .login .text-wrapper{
    font-size: 25px;
    margin-bottom: 15px;
  }

  .login .overlap-group{
    font-size: 17px;
    height: 45px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .login .div-wrapper{
    font-size: 17px;
    height: 45px;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .login .overlap11{
    border-radius: 20px;
    max-width: 500px;
    padding: 25px;
  }

  .login .not-registered{
    font-size: 14px;
    margin-bottom: 20px;
  }

  .login .forgot-passwords{
    font-size: 14px;
  }

  .login .overlap-group-2as{
    font-size: 17px;
    height: 50px;
  }
}

@media (max-width: 400px) {

  .login .wheels-on-go{
    height: 120px;
    max-width: 250px;
  }

  .login .div{
    gap: 10px;
  }

  .login .text-wrapper{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .login .overlap-group{
    font-size: 15px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .login .div-wrapper{
    font-size: 15px;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .login .overlap11{
    border-radius: 20px;
    max-width: 350px;
    padding: 15px;
  }

  .login .not-registered{
    font-size: 12px;
    margin-bottom: 10px;
  }

  .login .forgot-passwords{
    font-size: 12px;
  }

  .login .overlap-group-2as{
    font-size: 14px;
    height: 40px;
  }
}