.new-password {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  align-items: center;
  gap: 20px;
  padding: 20px;
  }
  
  .new-password .overlapsas {
    background-color: #d7d1d1;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .new-password .overlap-group {
    background-color: #e80029;
    border-radius: 35px;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    height: 50px;
    position: relative;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
  .new-password .text-wrapper-2 {
    color: #e80029;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 318px;
  }
  
  .new-password .text-wrapper-3 {
    color: #848484;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 641px;
  }
  
  .new-password .overlap-2ss {
    background-color: #ffffff;
    color: #848484;
    border-radius: 35px;
    font-family: "Inter-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    height: 50px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .new-password .text-wrapper-4s {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 30px;
  }
  
  .new-password .wheels-on-go {
    height: auto;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
  }
  

  @media (max-width: 1024px) {

    .new-password{
      flex-direction: column;
    }
  }

  @media (max-width: 600px) {

    .new-password .text-wrapper-4s{
      font-size: 20px;
    }

    .new-password .overlap-2ss{
      font-size: 20px;
    }

    .new-password .overlap-group{
      font-size: 15px;
      height: 40px;
    }
  }