.payment-popup {
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;  
  justify-content: center;  
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1050; 
  overflow: hidden; /* Prevent scrolling */
}

.payment-popup .overlap-wrapper {
  height: 724px;
  overflow: hidden; /* Prevent scrolling */
  width: 1502px;
}

.payment-popup .overlap11 {
  background-color: #d7d1d1;
  border-radius: 50px;
  height: 724px;
  position: relative;
  width: 1508px;
  overflow: hidden; /* Prevent scrolling */
}

  
  .payment-popup .text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 50px;
    font-weight: 600;
    left: 164px;
    letter-spacing: 0.62px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 285px;
  }
  
  .payment-popup .back {
    background-color: #e32128;
    border-radius: 9px;
    height: 50px;
    left: 61px;
    position: absolute;
    top: 38px;
    width: 50px;
    border: none;
  }
  
  .payment-popup .vector {
    height: 30px;
    left: 12px;
    position: absolute;
    top: 10px;
    width: 25px;
  }
  
  .payment-popup .divv {
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 239px;
    letter-spacing: 0.25px;
    line-height: 140px;
    position: absolute;
    top: 500px;
    white-space: nowrap;
    width: 608px;
  }
  
  .payment-popup .pp {
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 34px;
    left: 861px;
    letter-spacing: 0.23px;
    line-height: 140px;
    position: absolute;
    text-align: center;
    top: 339px;
    white-space: nowrap;
    width: 592px;
  }
  
  .payment-popup .understood-and-agree {
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 239px;
    letter-spacing: 0.25px;
    line-height: 140px;
    position: absolute;
    top: 530px;
    white-space: nowrap;
    width: 608px;
  }
  
  .payment-popup .span {
    letter-spacing: 0.05px;
  }
  
  .payment-popup .text-wrapper-22 {
    letter-spacing: 0.05px;
    text-decoration: underline;
  }
  
  .payment-popup .rectangle11 {
    background-color: #ffffff;
    height: 35px;
    left: 181px;
    position: absolute;
    top: 588px;
    width: 35px;
    border: none;
  }
  
  .payment-popup .rectangle-2 {
    background-color: #ffffff;
    border-radius: 40px;
    height: 200px;
    left: 74px;
    position: absolute;
    top: 145px;
    width: 200px;
  }
  
  .payment-popup .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 297px;
    letter-spacing: 0.5px;
    line-height: normal;
    position: absolute;
    top: 196px;
    width: 575px;
  }
  
  .payment-popup .overlap-groupp {
    height: 43px;
    left: 297px;
    position: absolute;
    top: 254px;
    width: 590px;
  }
  
  .payment-popup .text-wrapper-444 {
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 34px;
    left: 0;
    letter-spacing: 0.38px;
    line-height: 140px;
    position: absolute;
    top: -48px;
    white-space: nowrap;
    width: 418px;
  }
  
  .payment-popup .text-wrapper-55 {
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 34px;
    left: 172px;
    letter-spacing: 0.38px;
    line-height: 140px;
    position: absolute;
    top: -48px;
    white-space: nowrap;
    width: 418px;
  }
  
  .payment-popup .img {
    height: 43px;
    left: 152px;
    position: absolute;
    top: 0;
    width: 2px;
  }
  
  .payment-popup .text-wrapper-61 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 459px;
    width: 300px;
  }
  
  .payment-popup .text-wrapper-7 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 499px;
    width: 186px;
  }
  
  .payment-popup .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 419px;
    width: 224px;
  }
  
  .payment-popup .text-wrapper-9 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 379px;
    width: 260px;
  }
  
  .payment-popup .overlap-2 {
    background-color: #ffffff;
    border-radius: 35px;
    height: 71px;
    left: 873px;
    position: absolute;
    top: 465px;
    width: 569px;
  }
  
  .payment-popup .group11 {

    border-radius: 30px;
    height: 50px;
    left: 388px;
    position: absolute;
    top: 10px;
    width: 165px;
    border: none;
  }
  
  .payment-popup .div-wrapper111 {
    background-color: #e80029;
    border-radius: 35px;
    height: 50px;
    position: relative;
    width: 163px;
    border: none;
  }
  
  .payment-popup .text-wrapper-101 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
    width: 72px;
  }
  
  .payment-popup .payment-screenshot {
    color: #848484;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 345px;
  }
  
  .payment-popup .overlap-group-wrapper {
    height: 71px;
    left: 871px;
    position: absolute;
    top: 564px;
    width: 573px;
  }
  
  .payment-popup .overlap-33 {
    background-color: #e80029;
    border-radius: 35px;
    height: 71px;
    position: relative;
    width: 571px;
    border: none;
  }
  
  .payment-popup .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 207px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 160px;
  }
  
  .payment-popup .close {
    background-color: #e32128;
    border-radius: 9px;
    height: 50px;
    left: 1403px;
    position: absolute;
    top: 34px;
    width: 50px;
    border: none;
  }
  
  .payment-popup .vector-2 {
    height: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 30px;
  }
  
  .payment-popup .image {
    height: 300px;
    left: 1008px;
    object-fit: cover;
    position: absolute;
    top: 89px;
    width: 300px;
  }
  