.paypal-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Center the container with margin */
  }
  
  .paypal-button-container > div {
    position: relative;
    width: 400px;
    height: 50px;
  }
  