.payment-successful {
    position: fixed;  /* Use fixed positioning to stay in place during scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for the dimming effect */
    z-index: 1050;  /* Ensure it's above all other content */
    padding: 10px;
  }
  
  .payment-successful .overlap232 {
    background-color: #d7d1d1;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .payment-successful .text-wrapper1231 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .payment-successful .overlap-groupss {
    background-color: #e80029;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 35px;
    height: 40px;
    position: relative;
    width: 150px;
    border: none;
  }

  