.profile-updated {
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;  
  justify-content: center;  
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1050; 
  padding: 20px;
}

.profile-updated .overlappp {
  background-color: #d7d1d1;
  border-radius: 20px;
  width: 907px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.profile-updated .text-wrapper234 {
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.62px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.profile-updated .overlap-grouppp {
  background-color: #e80029;
  border-radius: 35px;
  height: 40px;
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  position: relative;
  width: 150px;
  border: none;
}