body {
  overflow: hidden; /* Prevents unnecessary scrolling */
}

* {
  box-sizing: border-box;
}

.registration {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  overflow-x: auto;
  overflow-y: auto;
  height: 100vh;
  align-items: center;
}

.registration .div {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  position: relative;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
}

.registration .overlapss {
  background-color: #d7d1d1;
  border-radius: 20px;
  width: 100%;
  max-width: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.registration .text-wrapper {
  color: #3e3a3a;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.registration .overlap-group {
  background-color: #e80029;
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  border-radius: 35px;
  height: 50px;
  width: 100%;
  max-width: 600px;
  border: none;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.registration .overlap-group:hover {
  background-color: #800000;
}

.registration .already-have-an {
  color: #848484;
  font-family: "Inter-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.registration .span {
  color: #848484;
}

.registration .text-wrapper-3 {
  color: #e80029;
  text-decoration-line: none;
}

.registration .div-wrapper,
.registration .overlap-2,
.registration .last,
.registration .overlap-3,
.registration .overlap-4,
.registration .overlap-5,
.registration .overlap-6 {
  background-color: #ffffff;
  color: #848484;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
  height: 50px;
  width: 100%;
  max-width: 600px;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 8px;
  position: relative;
  -moz-appearance: textfield; /* Firefox */
}

.registration .overlap-5,
.registration .overlap-6 {
  margin-bottom: 0
}

.registration .overlap-4::-webkit-outer-spin-button,
.registration .overlap-4::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0;
}

.registration .error-message {
  color: red;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  margin: 15px auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.registration .wheels-on-go {
  max-width: 550px;
  width: 100%;
  height: 550px;
}

.password-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 8px;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 60px;
  padding-left: 20px;
  height: 50px;
  font-size: 20px;
  border-radius: 35px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}

.password-input-wrapper .toggle-password {
  position: relative;
  background-color: #e80029;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .registration {
      flex-direction: column;
  }

  .registration .div {
      flex-direction: column;
      justify-content: flex-start;
      gap: 0px;
  }

  .registration .overlapss {
    border-radius: 20px;
    max-width: 710px;
    padding: 30px;
  }

  .registration .text-wrapper {
      font-size: 40px;
  }

  .registration .already-have-an{
    font-size: 20px;
    margin: 35px;
  }

  .registration .error-message {
    font-size: 20px;
  }

  .registration .wheels-on-go {
    height: 500px;
    max-width: 500px;
  }

  .registration .div-wrapper,
  .registration .overlap-2,
  .registration .last,
  .registration .overlap-3,
  .registration .overlap-4,
  .registration .overlap-5,
  .registration .overlap-6 {
    font-size: 28px;
    height: 60px;
    max-width: 650px;
    margin-bottom: 15px;
  }

  .registration .overlap-5,
  .registration .overlap-6 {
    margin-bottom: 0;
  }

  .registration .overlap-group{
    font-size: 20px;
    height: 55px;
    max-width: 650px;
  }

  .password-input-wrapper{
    margin-bottom: 15px;
    max-width: 650px;
  }

  .password-input-wrapper .toggle-password {
    font-size: 19px;
    padding: 18px;
  }
}

@media (max-width: 800px) {

  .registration .overlapss {
    border-radius: 20px;
    max-width: 650px;
    padding: 30px;
  }

  .registration .text-wrapper {
      font-size: 35px;
  }

  .registration .already-have-an{
    font-size: 18px;
    margin: 30px;
  }

  .registration .error-message {
    font-size: 18px;
  }

  .registration .wheels-on-go {
    height: 400px;
    max-width: 400px;
  }

  .registration .div-wrapper,
  .registration .overlap-2,
  .registration .last,
  .registration .overlap-3,
  .registration .overlap-4,
  .registration .overlap-5,
  .registration .overlap-6 {
    font-size: 25px;
    height: 55px;
    margin-bottom: 10px;
  }

  .registration .overlap-5,
  .registration .overlap-6 {
    margin-bottom: 0;
  }

  .registration .overlap-group{
    font-size: 20px;
    height: 55px;
  }

  .password-input-wrapper .toggle-password {
    font-size: 15px;
    padding: 15px;
  }

  .password-input-wrapper{
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {

  .registration .overlapss {
    border-radius: 20px;
    max-width: 500px;
    padding: 20px;
  }

  .registration .text-wrapper {
      font-size: 25px;
  }

  .registration .already-have-an{
    font-size: 14px;
    margin: 25px;
  }

  .registration .error-message {
    font-size: 14px;
  }

  .registration .wheels-on-go {
    height: 400px;
    max-width: 400px;
  }

  .registration .div-wrapper,
  .registration .overlap-2,
  .registration .last,
  .registration .overlap-3,
  .registration .overlap-4,
  .registration .overlap-5,
  .registration .overlap-6 {
    font-size: 17px;
    height: 45px;
    margin-bottom: 10px;
  }

  .registration .overlap-5,
  .registration .overlap-6 {
    margin-bottom: 0;
  }

  .registration .overlap-group{
    font-size: 17px;
    height: 50px;
  }

  .password-input-wrapper .toggle-password {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 400px) {

  .registration .overlapss {
    border-radius: 20px;
    max-width: 350px;
    padding: 15px;
  }

  .registration .text-wrapper {
      font-size: 25px;
  }

  .registration .already-have-an{
    font-size: 12px;
    margin-bottom: 20px;
    margin: 20px;
  }

  .registration .error-message {
    font-size: 12px;
  }

  .registration .wheels-on-go {
    height: 250px;
    max-width: 250px;
  }

  .registration .div-wrapper,
  .registration .overlap-2,
  .registration .last,
  .registration .overlap-3,
  .registration .overlap-4,
  .registration .overlap-5,
  .registration .overlap-6 {
    font-size: 15px;
    height: 35px;
    margin-bottom: 10px;
  }

  .registration .overlap-5,
  .registration .overlap-6 {
    margin-bottom: 0;
  }

  .registration .overlap-group{
    font-size: 14px;
    height: 40px;
  }

  .password-input-wrapper .toggle-password {
    font-size: 11px;
    padding: 10px;
  }

  
}