.report-success {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    padding: 20px;
  }
  
  .report-success .overlapjkl {
    background-color: #d7d1d1;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  .report-success .text-wrapperjkl {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    text-align: center;
    margin: 0;
  }
  
  .report-success .overlap-groupjkl {
    background-color: #e80029;
    border-radius: 25px;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    height: 30px;
    width: 150px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  