body {
  overflow: hidden; /* Prevents unnecessary scrolling */
}

* {
  box-sizing: border-box;
}

.report {
    position: fixed;  /* Use fixed positioning to stay in place during scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for the dimming effect */
    z-index: 1050;  /* Ensure it's above all other content */
    padding: 10px;
  }

  
  .report .overlap456 {
    background-color: #d7d1d1;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    width: 100%;
    margin: 0 auto; /* Center horizontally for larger screens */
    max-width: 700px;
    overflow: hidden;
  }
  
  .report .text-wrapper456 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.62px;
    line-height: normal;
    position: relative;
    text-align: center;
    flex-grow: 1;
    text-align: center; 
  }
  
  .report .overlap-group456 {
    background-color: #e80029;
    border-radius: 25px;
    height: 50px;
    width: 100%;
    border: none;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .report .closes {
    background: none;
    border: none;
  }
  
  .report .vectorsss {
    height: 40px;
    width: 40px;
    position: relative;
  }
  
  .report .rectangle {
    background-color: #ffffff;
    border-radius: 25px;
    height: 60px;
    position: relative;
    width: 100%;
    color: #848484;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
  }
  
  .report .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: normal;
    position: relative;
  }
  
  .report .div-wrappersa {
    background-color: #ffffff;
    border-radius: 25px;
    height: 230px;
    position: relative;
    width: 100%;
    color: #848484;
    font-family: "Inter-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    border: none;
    resize: none;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-grow: 1;
  }
  
  .report .text-wrapper-3 {
    color: #848484;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 641px;
  }

  .groupp1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
  }

  .groupp2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
    max-width: none; /* Ensure no restriction */
    box-sizing: border-box;
}


  .groupp3{
    display: flex;
    flex-direction: row; /* Horizontal alignment */
    justify-content: space-between; /* Text in the center, button on the right */
    align-items: center; /* Align vertically */
    position: relative; /* Allow relative positioning for child elements */
    width: 100%; /* Ensure it spans the full width of its parent */
  
  }
  

  @media (max-width: 1024px) {
    
    .report .overlap456{
      max-width: 600px;
    }
  }

  @media (max-width: 800px) {
    
    .report .overlap456{
      max-width: 400px;
      border-radius: 20px;
      padding: 20px;
      gap: 20px;
    }

    .report .text-wrapper456{
      font-size: 25px;
    }

    
    .groupp2{
      gap: 10px;
    }

    .groupp1{
      gap: 10px;
    }

    .report .text-wrapper-2{
      font-size: 22px;
    }

    .report .rectangle{
      font-size: 20px;
      height: 50px;
      border-radius: 20px;
    }

    .report .div-wrappersa{
      height: 200px;
      font-size: 20px;
      border-radius: 20px;
    }

    .report .vectorsss{
      height: 30px;
      width: 30px;
    }

    .report .overlap-group456{
      font-size: 15px;
      border-radius: 20px;
      height: 40px;
    }

  }

  @media (max-width: 600px) {

    .report .overlap456{
      max-width: 350px;
      gap: 20px;
    }

    .report .text-wrapper456{
      font-size: 20px;
    }

    .report .vectorsss{
      height: 20px;
      width: 20px;
    }

    .report .text-wrapper-2{
      font-size: 15px;
    }

    .report .rectangle{
      font-size: 16px;
      height: 40px;
      border-radius: 15px;
    }

    .report .div-wrappersa{
      border-radius: 15px;
      font-size: 16px;
    }

    .groupp2{
      gap: 10px;
    }

    .groupp1{
      gap: 10px;
    }

    .report .overlap-group456{
      border-radius: 15px;
      height: 30px;
      font-size: 12px;
    }
  }

  @media (max-width: 400px) {

    .report .overlap456{
      max-width: 280px;
      gap: 20px;
    }

    .report .text-wrapper456{
      font-size: 20px;
    }

    .report .vectorsss{
      height: 20px;
      width: 20px;
    }

    .report .text-wrapper-2{
      font-size: 15px;
    }

    .report .rectangle{
      font-size: 16px;
      height: 40px;
      border-radius: 15px;
    }

    .report .div-wrappersa{
      border-radius: 15px;
      font-size: 16px;
    }

    .groupp2{
      gap: 10px;
    }

    .groupp1{
      gap: 10px;
    }

    .report .overlap-group456{
      border-radius: 15px;
      height: 30px;
      font-size: 12px;
    }
  }