.vap-popup {
    position: fixed;  /* Use fixed positioning to stay in place during scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for the dimming effect */
    z-index: 1050;  /* Ensure it's above all other content */
}

.vap-popup .vap-wrapper {
    background-color: #d7d1d1;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 907px;
    height: 560px;
}

.vap-popup .vap-overlap {
    background-color: #d7d1d1;
    border-radius: 40px;
    height: 560px;
    position: relative;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    gap: 20px; /* Adjust this value for the desired gap */
    padding: 20px;
}

.vap-popup .vap-text-wrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.62px;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 30px;
}

.vap-group-wrapper, 
.vap-overlap-2 {
    background-color: #ffffff;
    border-radius: 35px;
    height: 71px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensure the text is on the left and button on the right */
    align-items: center; /* Vertically center items */
    padding: 0 20px;
    position: relative;
}

.vap-popup .vap-group {
    height: 50px;
    left: 485px;
    position: absolute;
    top: 10px;
    width: 212px;
}

.vap-popup .vap-div-wrapper1 {
    background-color: #e80029;
    border-radius: 35px;
    height: 50px;
    width: 210px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
    display: flex; 
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    position: relative; 
    margin-left: auto; /* Pushes the button to the far right */
}

.vap-div-wrapper1:hover{
    background-color: #800000;
}

.vap-popup .vap-div-wrapper2 {
    background-color: #e80029;
    border-radius: 35px;
    height: 50px;
    width: 210px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
    display: flex; 
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    position: relative; 
    margin-left: auto; /* Pushes the button to the far right */
}

.vap-div-wrapper2:hover{
    background-color: #800000;
}

.vap-popup .vap-text-2 {
    color: #848484;
    font-size: 30px;
    line-height: normal;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.vap-popup .vap-group-wrapper-2 {
    height: 50px;
    left: 485px;
    position: absolute;
    top: 11px;
    width: 212px;
}

.vap-popup .vap-text-3 {
    color: #848484;
    font-size: 30px;
    line-height: normal;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}

.vap-popup .vap-group-2 {
    height: 71px;
    left: 99px;
    position: absolute;
    top: 417px;
    width: 714px;
}

.vap-popup .vap-overlap-3 {
    background-color: #e80029;
    border-radius: 35px;
    height: 71px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
}
.vap-overlap-3:hover{
    background-color: #800000;
}

.vap-popup .vap-text-4 {
    color: #ffffff;
    font-size: 20px;
    left: 258px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 200px;
}

.vap-popup .close{
    margin-left: auto; /* Pushes it to the right */
    position: relative;
    display: flex;
    right: 20px;
    align-self: flex-end;
}
 .vap-text-info211ver {
    font-size: 0.9rem;
    color: #000000;
    position: relative;
    text-align: center;
}

.vap-popup .vap-p{
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 121px;
    letter-spacing: 0.25px;
    line-height: 140px;
    position: absolute;
    text-align: center;
    top: 283px;
    white-space: nowrap;
    width: 672px;
}

.vap-popup .text-wrapper-pp{
    color: #e32128;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 146px;
    letter-spacing: 0.25px;
    line-height: 140px;
    position: absolute;
    text-align: center;
    top: 308px;
    white-space: nowrap;
    width: 616px;
}