.vap-popupver {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

.vap-popupver .vap-wrapperver {
    background-color: #d7d1d1;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 907px;
    height: 560px;
}

.vap-popupver .vap-overlapver {
    background-color: #d7d1d1;
    border-radius: 40px;
    height: 560px;
    position: relative;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    gap: 20px; /* Adjust this value for the desired gap */
    padding: 20px;
}


.vap-popupver .vap-text-wrapperver {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.62px;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 30px;
}

.vap-group-wrapperver, 
.vap-overlap-2ver {
    background-color: #ffffff;
    border-radius: 35px;
    height: 71px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensure the text is on the left and button on the right */
    align-items: center; /* Vertically center items */
    padding: 0 20px;
    position: relative;
}


.vap-popupver .vap-groupver {
    height: 50px;
    left: 485px;
    position: absolute;
    top: 10px;
    width: 212px;
}

.vap-popupver .vap-div-wrapperver1 {
    background-color: #e80029;
    border-radius: 35px;
    height: 50px;
    width: 210px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
    display: flex; 
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    position: relative; 
    margin-left: auto; /* Pushes the button to the far right */

}

.vap-div-wrapperver1:hover {
    background-color: #800000;
}

.vap-popupver .vap-div-wrapperver2 {
    background-color: #e80029;
    border-radius: 35px;
    height: 50px;
    width: 210px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
    display: flex; 
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    position: relative; 
    margin-left: auto; /* Pushes the button to the far right */
}

.closever {
    margin-left: auto; /* Pushes it to the right */
    position: relative;
    display: flex;
    right: 20px;
    align-self: flex-end; /* Align it to the top-right (or flex-end for bottom-right) */
}



.vap-div-wrapperver2:hover {
    background-color: #800000;
}

.vap-popupver .vap-text-2ver {
    color: #848484;
    font-size: 30px;
    line-height: normal;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}



.vap-popupver .vap-group-wrapper-2ver {
    height: 50px;
    left: 485px;
    position: absolute;
    top: 11px;
    width: 212px;
}

.vap-popupver .vap-text-3ver {
    color: #848484;
    font-size: 30px;
    line-height: normal;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}

.vap-popupver .vap-group-2ver {
    height: 71px;
    left: 99px;
    position: absolute;
    top: 417px;
    width: 714px;
}

.vap-popupver .vap-overlap-3ver {
    background-color: #e80029;
    border-radius: 35px;
    height: 71px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    text-align: center; 
    white-space: nowrap;
    border: none;
}

.vap-overlap-3ver:hover {
    background-color: #800000;
}

.vap-popupver .vap-text-4ver {
    color: #ffffff;
    font-size: 20px;
    left: 258px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 200px;
}

.vap-popupver .vap-text-info211ver {
    font-size: 0.9rem;
    color: #000000;
    position: relative;
    text-align: center;
}
