.verify-first-popup {
    position: fixed;  /* Use fixed positioning to stay in place during scrolling */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for the dimming effect */
    z-index: 1050;  /* Ensure it's above all other content */
    padding: 20px;
  }
  
  .verify-first-popup .overlaps {
    background-color: #d7d1d1;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  .verify-first-popup .text-wrapperd {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    position: relative;
    text-align: center;
    margin: 0;
  }
  
  .verify-first-popup .overlap-groupt {
    background-color: #e80029;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    border-radius: 25px;
    height: 30px;
    position: relative;
    width: 150px;
    border: none;
    align-self: center;
  }